html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #463e60;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

#indicator {
  position: absolute;
  left: 15%;
  top: 80px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background-color: #fd354e;
}

nav a:nth-child(2):hover ~ #indicator {
  left: 49%;
  background-color: #fd354e;
}

nav a:nth-child(3):hover ~ #indicator {
  left: 82%;
  background-color: #fd354e;
}

.tooltip-home {
				display: inline-block;
				position: absolute;
				background-color: #313443;
				padding: 8px 15px;
				border-radius: 5px;
				left: 5px;
        top: 115px;
				visibility: visible;
        opacity: 1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: white;
}

.tooltip-home:hover {
					background-color: #22252E;
					visibility: visible;
					opacity: 1;
}

.tooltip-home:active {
				background-color: #22252E;
}

.tooltip-mail {
				display: inline-block;
				position: absolute;
				background-color: #313443;
				padding: 8px 15px;
				border-radius: 5px;
				left: 100px;
        top: 115px;
				visibility: hidden;
        opacity: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: white;
}

.tooltip-mail:hover {
					background-color: #22252E;
					visibility: visible;
					opacity: 1;
}

.tooltip-mail:active {
				background-color: #22252E;
}

.tooltip-apps {
				display: inline-block;
				position: absolute;
				background-color: #313443;
				padding: 8px 15px;
				border-radius: 5px;
				left: 200px;
        top: 115px;
				visibility: hidden;
        opacity: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: white;
}

.tooltip-apps:hover {
					background-color: #22252E;
					visibility: visible;
					opacity: 1;
}

.tooltip-apps:active {
				background-color: #22252E;
}

.icon-home {
  background-image: url('home-unselect.svg');
}

.icon-mail {
  background-image: url('mail-unselect.svg');
}

.icon-apps {
  background-image: url('apps-unselect.svg');
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon-home:hover, .icon-home:focus {
  background-image: url('home-select.svg');
}

.icon-mail:hover, .icon-mail:focus {
  background-image: url('mail-select.svg');
}

.icon-apps:hover, .icon-apps:focus {
  background-image: url('apps-select.svg');
}
